body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(135deg, #b9f6ff, #e6fcff, #b9f6ff);
  margin: 0;
  padding: 0;
  text-align: center;
  animation: fadeInBody 1s ease;
  transition: 0.6s ease, color 0.6s ease;
}

@keyframes fadeInBody {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

header {
  background: linear-gradient(90deg, #60a5fa, #3b82f6, #60a5fa);
  color: white;
  padding: 40px 0;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
  animation: slideDown 1s ease-in-out;
}

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

header h1 {
  margin-top: 1%;
  font-size: 2.5rem;
  letter-spacing: 1px;
  cursor: pointer;
}

main {
  margin: 60px auto;
  padding: 20px;
  max-width: 600px;
  animation: fadeInUp 1s ease forwards;
  height: 300px;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

main p {
  font-size: 1.2rem;
  margin-bottom: 30px;
  font-weight: bold;
}

main a {
  display: inline-block;
  margin: 10px;
  padding: 12px 24px;
  background-color: #2563eb;
  color: white;
  border-radius: 12px;
  text-decoration: none;
  font-weight: bold;
  transition: transform 0.3s, background-color 0.3s ease;
}

main a:hover {
  background-color: #1d4ed8;
  transform: scale(1.05);
}

footer {
  background: #ffffff;
  padding: 20px;
  color: #6b7280;
  font-size: 0.9rem;
  border-top: 1px solid #e5e7eb;
  animation: fadeIn 1.5s ease;
  height: 150px;
}

.dark-toggle {
  background-color: #2563eb;
  color: white;
  border: none;
  border-radius: 30px;
  padding: 10px 18px;
  cursor: pointer;
  transition: ease 0.3s;
  font-weight: bold;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 10px;
  left: 20px;
  display: flex;
  gap: 10px;
  z-index: 1000;
}

.dark-toggle:hover {
  background-color: #1e40af;
  transform: scale(1.05);
}

body.dark-mode .sidebar {
  background-color: #1f2937cc;
}

body.dark-mode .player-panel {
  background-color: #111827aa;
}

body.dark-mode li {
  background-color: #374151;
  color: #d1d5db;
}

body.dark-mode li:hover {
  background-color: #4b5563;
  color: #fff;
}


body.dark-mode h2 {
  color: #93c5fd;
}

body.dark-mode h1 {
  color: #fff;
}

body.dark-mode footer {
  background-color: #111827;
  color: #9ca3af;
}

.dark-toggle-bottom {
  position: fixed;
  top: 20px;
  left: 20px;
  /* قرار گرفتن در بالا و چپ */
  background-color: #2563eb;
  color: white;
  border: none;
  border-radius: 30px;
  padding: 10px 18px;
  cursor: pointer;
  z-index: 9999;
  transition: ease 0.3s;
}

.dark-toggle-bottom:hover {
  background-color: #1e40af;
  transform: scale(1.05);
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: black;
  opacity: 0;
  pointer-events: none;
  z-index: 9998;
  transition: opacity 0.6s ease;
}

body.dark-mode {
  background: linear-gradient(135deg, #16182b, #252746, #16182b);
  color: #f3f4f6;
}

body.dark-mode header {
  background: linear-gradient(90deg, #273346, #0f172a, #1e293b);
}

footer p {
  cursor: pointer;
}

body.dark-mode button.dark-toggle, body.dark-mode a{
  background: rgb(36, 0, 153);
  text-shadow: 0 0 8px rgba(255, 255, 255, 0.634);
}